.iconBtn {
    border: none;
    background: inherit;
}

.iconBtnSpinning {
    border: none;
    background: inherit;
    animation: spin-animation 1.2s infinite;
}

@keyframes spin-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
}